body {
	margin: 0 auto; 
	padding: 2%;
	background: #b2cecf;
	max-width: 1110px;
}

#logo
{
    height: 70px;
    width: 300px;
    float:left;
    
}

/* Ragistracija - prijava*/
#nav_login
{
    float: right;
    padding-top: 3.2%;
    margin:0;
}

A.LogLink
{
    font-family: Corbel;
    font-size: 17px;
    font-weight:bold;
    color: #282828;
 }

A.LogLink:hover
{
   color:#d02552;
}


span
{
    border-right: 1px solid #282828;
    padding-right:10px;
    margin-right:10px;
}

/*glavna navigacija*/
#navigacija
{
    margin-top: 12%;
    float: right;
    text-transform: uppercase;
    width: 755px;
}

A.NavLink
{
    font-family: Corbel;
    font-size: 22px;
    font-weight:bold;
    color: #282828;
    padding-left:5%;
 }

A.NavLink:hover
{
   color:#d02552
}

A.NavLink:active
{
   color:#d02552;
}

/*---------------------*/
hr
{
  
  height: 1px;
  background-color: #fff;
  color: #fff;
  border: none;  
}

.prva_lin
{
   margin-top:200px;
}

.druga_lin
{
    margin-top:690px; 
}

/*--------------------*/

h1
{
    text-transform: uppercase;
    padding-top:3%;
    padding-bottom:4%;
    font-family: Corbel;
    font-size: 25px;
    font-weight:bold;
    color: #d02552;
    text-align: center;
}

/*projekti*/
.proj
{
   background-color: rgba(255,255,255,0.45);
   width: 345px;
   border-radius: 10px; 
   float:left;
   height: 550px;
   margin-right: 37px;
   margin-bottom:4%;
}

.proj:last-child
{
    margin-right:0;
}

h2
{
    
    padding-top:2%;
    padding-bottom:3%;
    font-family: Calibri;
    font-size: 18px;
    font-weight:bold;
    color: #d02552;
    text-align: center;
}

h3
{
    max-width: 430px;
    padding-left:5%;
    padding-right:5%;
    font-family: Calibri;
    font-size: 15px;
    color:#000;
    vertical-align: top;
    font-weight:normal;
}

h4
{
    padding-top:12%;
    padding-bottom:12%;
    text-align: center;
}

h5
{
  padding-top:2%;
    padding-bottom:3%;
    font-family: Calibri;
    font-size: 15px;
    font-weight:bold;
    color: #000;  
}
.gumb
{
    border-radius: 10px;
    background-color:#d02552;
    color:#fff;
    float: right;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 5%;
    font-family: Corbel;
}

img
{
    height: 200px;
    width:312px;
    padding-left: 5%;
}

/*login/reg*/
.log-reg
{
    float:left;
    margin-right: 200px;
    margin-bottom:4%;
    background-color: rgba(255,255,255,0.45);
    border-radius: 10px; 
    
}

.log-reg:last-child
{
    margin-right: 0;
}

/*login*/


.labele
{   
    color:#000;
    font-family: Corbel;
    font-size: 18px;
    font-style:bold;
  
}
.textbox
{
    border-color:#d02552;
    border-style:solid;
    border-radius:3px;
    color:#000;
    border-width:1px;
    
}
.prijava
{
    font-family: Corbel;
    font-size: 20px;
    font-weight:bold;
    color: #d02552;
    text-align: center;
    margin-bottom:5px;
}
.gumb2
{
    border-radius: 10px;
    background-color:#d02552;
    color:#fff;
    float: right;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-family: Corbel;
}
.zapamtiMe
{
   padding-left:68px;
}


.poruka
{
    font-family: Corbel;
    font-size: 15px;
    color: #d02552;
}
.tablica
{
    padding-top:10px;
    padding-bottom:10px;
    margin-left:50px;
    margin-top:0px;
   
}
.reg
{
    font-family: Corbel;
    font-size: 20px;
    font-weight:bold;
    color: #d02552;
    text-align: center;
    padding-bottom:10px;
}

/*Novi projekt*/
#pozadina
{
   
   margin-top: 4%;
   padding-top:2%;
   padding: 4%;
   background-color: rgba(255,255,255,0.45);
   border-radius: 10px;  
   
   width: 500px;
  margin-left: 23%;
   
}

.textboxOpis
{
    border-color:#d02552;
    border-style:solid;
    border-radius:3px;
    color:#000;
    border-width:1px;
    height: 150px;
    width: 250px;
    
    
}

.poravnanje
{
    padding-left: 25%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
}

.poravnanjeHide
{
    display:none;
    padding-left: 25%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
}

.poravnanje a
{
    text-decoration:none;
}


/*--------------------*/
.textbox_suma
{
    border-color:#d02552;
    border-style:solid;
    border-radius:3px;
    color:#d02552;
    border-width:1px;
    margin-left:20px
    
}


/*----------------*/

.radioBut
{
    margin-bottom:2px;
    
}