<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net35" />
  <package id="log4net" version="1.2.10" targetFramework="net35" />
  <package id="PayPalAdaptivePaymentsSDK" version="2.4.101" targetFramework="net35" />
  <package id="PayPalCoreSDK" version="1.3.0" targetFramework="net35" />
  <package id="PayPalCoreSDK" version="1.3.1" targetFramework="net35" />
</packages>